div.page-content {
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px;
    border-radius: 8px;
    background-color: white;

    img.logo-img {
      width: 120px;
      height: 120px;
    }

    .text-wrapper {
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      .title-text {
        height: 80px;
        line-height: 80px;
        margin: 0;
        font-size: 24px;
      }
    }

    [nz-form] {
      display: flex;
      flex-direction: column;
      width: 320px;

      [nz-input] {
        height: 40px;
      }

      .login-form-forgot {
        float: right;
      }

      [nz-button] {
        height: 40px;
        width: 100%;
      }
    }
  }

  .copy-right {
    font-size: 12px;
  }
}
