<div>
  <div class="table-operations">
    <div>
      <button nz-button nzType="primary" nzShape="circle" (click)="updateRawData()"><i nz-icon type="cloud-download" theme="outline"></i></button>
    </div>
    <div class="flex-mach-parent">

    </div>
    <div class="flex-right">
      <button nz-button nzType="primary"><i nz-icon type="plus" theme="outline"></i>添加设备</button>
    </div>
  </div>
  <nz-table
    #deviceTable
    [nzData]="dataSet"
    (nzCurrentPageDataChange)="currentPageDataChange($event)"
    (nzPageIndexChange)="refreshStatus()"
    (nzPageSizeChange)="refreshStatus()">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzShowCheckbox [(nzChecked)]='isAllChecked' [nzIndeterminate]='isIndeterminate' (nzCheckedChange)="checkAll($event)"></th>
        <th nzShowSort nzSortKey="uid" nzShowFilter [nzFilters]='uidList' (nzFilterChange)="filter($event, imsiList, nameList, serialNumberList, typeList, statusList, userList, departmentList)">UID</th>
        <th nzShowSort nzSortKey="imsi" nzShowFilter [nzFilters]='imsiList' (nzFilterChange)="filter(uidList, $event, nameList, serialNumberList, typeList, statusList, userList, departmentList)">IMSI</th>
        <th nzShowSort nzSortKey="name" nzShowFilter [nzFilters]='nameList' (nzFilterChange)="filter(uidList, imsiList, $event, serialNumberList, typeList, statusList, userList, departmentList)">名称</th>
        <th nzShowSort nzSortKey="serial_number" nzShowFilter [nzFilters]='serialNumberList' (nzFilterChange)="filter(uidList, imsiList, nameList, $event, typeList, statusList, userList, departmentList)">序列号</th>
        <th nzShowSort nzSortKey="type" nzShowFilter [nzFilters]='typeList' (nzFilterChange)="filter(uidList, imsiList, nameList, serialNumberList, $event, statusList, userList, departmentList)">类型</th>
        <th nzShowSort nzSortKey="status" nzShowFilter [nzFilters]='statusList' (nzFilterChange)="filter(uidList, imsiList, nameList, serialNumberList, typeList, $event, userList, departmentList)">状态</th>
        <th nzShowSort nzSortKey="user" nzShowFilter [nzFilters]='userList' (nzFilterChange)="filter(uidList, imsiList, nameList, serialNumberList, typeList, statusList, $event, departmentList)">保管员</th>
        <th nzShowSort nzSortKey="department" nzShowFilter [nzFilters]='departmentList' (nzFilterChange)="filter(uidList, imsiList, nameList, serialNumberList, typeList, statusList, userList, $event)">所属部门</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of deviceTable.data; let i = index">
        <td nzShowCheckbox [(nzChecked)]="data.checked" [nzDisabled]="data.disabled" (nzCheckedChange)="refreshStatus()"></td>
        <td>{{data.uid}}</td>
        <td>{{data.imsi}}</td>
        <td>{{data.name}}</td>
        <td>{{data.serial_number}}</td>
        <td>{{data.type}}</td>
        <td>{{data.status}}</td>
        <td>{{data.user}}</td>
        <td>{{data.department}}</td>
        <td><button nz-button nzType="primary" (click)="showInfoModalDialog(i)"><span>修改</span></button></td>
      </tr>
    </tbody>
  </nz-table>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Modal Title" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
  <p>Modal Content</p>
</nz-modal>
