// 设备对话框居中
::ng-deep .vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  .ant-modal {
    top: 0;
  }
}

.table-operations {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;

  .flex-left {

  }

  .flex-mach-parent {
    flex-grow: 1;
  }

  .flex-right {

  }

}

nz-table {
  // 把最后一个单元格内容设为居中
  tr > th:last-child, tr > td:last-child {
    text-align: center;
  }
}

nz-input-number {
  width: auto;
}

.ip-division {
  padding: 0;
  text-align: center;
  border-width: 0;
  pointer-events: none;
  background-color: rgb(255, 255, 255);
}

.ip-content {
  text-align: center;
}

//.table-operations > button {
//  margin-right: 8px;
//}

