<div>
  <div class="table-operations">
    <div>
      <button nz-button nzType="primary" nzShape="circle" (click)="updateRawData()"><i nz-icon type="cloud-download" theme="outline"></i></button>
    </div>
    <div class="flex-mach-parent">

    </div>
    <div class="flex-right">
      <button nz-button nzType="primary"><i nz-icon type="plus" theme="outline"></i>添加设备</button>
    </div>
  </div>
  <nz-table
    #deviceTable
    [nzData]="dataSet"
    (nzCurrentPageDataChange)="currentPageDataChange($event)"
    (nzPageIndexChange)="refreshStatus()"
    (nzPageSizeChange)="refreshStatus()">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzShowCheckbox [(nzChecked)]='isAllChecked' [nzIndeterminate]='isIndeterminate' (nzCheckedChange)="checkAll($event)"></th>
        <th nzShowSort nzSortKey="uid" nzShowFilter [nzFilters]='uidList' (nzFilterChange)="filter($event, imsiList, nameList, serialNumberList, typeList, statusList, userList, departmentList)">UID</th>
        <th nzShowSort nzSortKey="imsi" nzShowFilter [nzFilters]='imsiList' (nzFilterChange)="filter(uidList, $event, nameList, serialNumberList, typeList, statusList, userList, departmentList)">IMSI</th>
        <th nzShowSort nzSortKey="name" nzShowFilter [nzFilters]='nameList' (nzFilterChange)="filter(uidList, imsiList, $event, serialNumberList, typeList, statusList, userList, departmentList)">名称</th>
        <th nzShowSort nzSortKey="serial_number" nzShowFilter [nzFilters]='serialNumberList' (nzFilterChange)="filter(uidList, imsiList, nameList, $event, typeList, statusList, userList, departmentList)">序列号</th>
        <th nzShowSort nzSortKey="type" nzShowFilter [nzFilters]='typeList' (nzFilterChange)="filter(uidList, imsiList, nameList, serialNumberList, $event, statusList, userList, departmentList)">类型</th>
        <th nzShowSort nzSortKey="status" nzShowFilter [nzFilters]='statusList' (nzFilterChange)="filter(uidList, imsiList, nameList, serialNumberList, typeList, $event, userList, departmentList)">状态</th>
        <th nzShowSort nzSortKey="user" nzShowFilter [nzFilters]='userList' (nzFilterChange)="filter(uidList, imsiList, nameList, serialNumberList, typeList, statusList, $event, departmentList)">保管员</th>
        <th nzShowSort nzSortKey="department" nzShowFilter [nzFilters]='departmentList' (nzFilterChange)="filter(uidList, imsiList, nameList, serialNumberList, typeList, statusList, userList, $event)">所属部门</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of deviceTable.data; let i = index">
        <td nzShowCheckbox [(nzChecked)]="data.checked" [nzDisabled]="data.disabled" (nzCheckedChange)="refreshStatus()"></td>
        <td>{{data.uid}}</td>
        <td>{{data.imsi}}</td>
        <td>{{data.name}}</td>
        <td>{{data.serial_number}}</td>
        <td>{{data.type}}</td>
        <td>{{data.status}}</td>
        <td>{{data.user}}</td>
        <td>{{data.department}}</td>
        <td><button nz-button nzType="primary" (click)="handleShow(i)"><span>详情</span></button></td>
      </tr>
    </tbody>
  </nz-table>
</div>

<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isDeviceInfoDialogVisible" nzTitle="设备信息" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
  <form nz-form [formGroup]="deviceInfoForm">
    <nz-form-item style="display: none">
      <nz-form-label [nzSpan]="4" nzRequired nzFor="id">ID</nz-form-label>
      <nz-form-control [nzSpan]="20">
        <input nz-input formControlName="id" id="id" placeholder="填入产品ID">
        <nz-form-explain *ngIf="deviceInfoForm.get('id').dirty && deviceInfoForm.get('id').errors">ID不能为空</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired nzFor="uid">UID</nz-form-label>
      <nz-form-control [nzSpan]="20">
        <input nz-input formControlName="uid" id="uid" placeholder="填入产品UID">
        <nz-form-explain *ngIf="deviceInfoForm.get('uid').dirty && deviceInfoForm.get('uid').errors">UID不能为空</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired nzFor="imsi">IMSI</nz-form-label>
      <nz-form-control [nzSpan]="20">
        <input nz-input formControlName="imsi" id="imsi" placeholder="填入产品的IMSI号">
        <nz-form-explain *ngIf="deviceInfoForm.get('imsi').dirty && deviceInfoForm.get('imsi').errors">IMSI不能为空</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired nzFor="name">设备名称</nz-form-label>
      <nz-form-control [nzSpan]="20">
        <input nz-input formControlName="name" id="name" placeholder="填入产品名称">
        <nz-form-explain *ngIf="deviceInfoForm.get('name').dirty && deviceInfoForm.get('name').errors">设备名称不能为空</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired nzFor="serial_number">序列号</nz-form-label>
      <nz-form-control [nzSpan]="20">
        <input nz-input formControlName="serial_number" id="serial_number" placeholder="填入产品序列号">
        <nz-form-explain *ngIf="deviceInfoForm.get('serial_number').dirty && deviceInfoForm.get('serial_number').errors">设备序列号不能为空</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired nzFor="type_id">类型</nz-form-label>
      <nz-form-control [nzSpan]="8">
        <nz-select formControlName="type_id" name="type_id" id="type_id" (nzScrollToBottom)="loadDeviceTypesMore()" nzPlaceHolder="选择设备类型" nzAllowClear>
          <nz-option *ngFor="let typeItem of deviceTypeList" [nzValue]="typeItem.id" [nzLabel]="typeItem.name"></nz-option>
          <nz-option *ngIf="isTypeLoading" nzDisabled nzCustomContent>
            <i nz-icon type="loading" theme="outline"></i> 载入数据中...
          </nz-option>
        </nz-select>
      </nz-form-control>
      <nz-form-label [nzSpan]="4" nzRequired nzFor="status_id">状态</nz-form-label>
      <nz-form-control [nzSpan]="8">
        <nz-select formControlName="status_id" name="status_id" id="status_id" (nzScrollToBottom)="loadDeviceStatusMore()" nzPlaceHolder="选择设备状态" nzAllowClear>
          <nz-option *ngFor="let statusItem of deviceStatusList" [nzValue]="statusItem.id" [nzLabel]="statusItem.name"></nz-option>
          <nz-option *ngIf="isStatusLoading" nzDisabled nzCustomContent>
            <i nz-icon type="loading" theme="outline"></i> 载入数据中...
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="comment">备注</nz-form-label>
      <nz-form-control [nzSpan]="20">
        <input nz-input formControlName="comment" id="comment" placeholder="输入产品备注">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired nzFor="create_time">时间</nz-form-label>
      <nz-form-control [nzSpan]="8">
        <nz-date-picker formControlName="create_time"></nz-date-picker>
      </nz-form-control>
      <nz-form-label [nzSpan]="4" nzRequired nzFor="keep_live_interval">心跳</nz-form-label>
      <nz-form-control [nzSpan]="8">
        <nz-input-number formControlName="keep_live_interval" [nzMin]="1" [nzMax]="100" [nzStep]="1" [nzPlaceHolder]="'设备心跳间隔'"></nz-input-number>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired nzFor="battery_sleep_time">休眠</nz-form-label>
      <nz-form-control [nzSpan]="8">
        <nz-input-number formControlName="battery_sleep_time" [nzMin]="1" [nzMax]="200" [nzStep]="1" [nzPlaceHolder]="'电源供电的休眠时间'"></nz-input-number>
      </nz-form-control>
      <nz-form-label [nzSpan]="4" nzRequired nzFor="battery_keep_live_time">连接</nz-form-label>
      <nz-form-control [nzSpan]="8">
        <nz-input-number formControlName="battery_keep_live_time" [nzMin]="1" [nzMax]="400" [nzStep]="1" [nzPlaceHolder]="'保持连接的时间'"></nz-input-number>
      </nz-form-control>
    </nz-form-item>
  </form>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">取消</button>
    <button nz-button nzType="primary" [nzLoading]="isOkLoading" (click)="handleModify()"><i nz-icon [type]="isWriteStatus ? 'save' : 'edit'" theme="outline"></i>{{isWriteStatus ? '保存' : '编辑'}}</button>
    <!--<button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isOkLoading">确认</button>-->
  </ng-template>
</nz-modal>
